{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Dashboard</h1>

    <a href="{% url 'events:event_create' %}" class="btn btn-primary mb-3">Criar novo evento</a>

    <h3>Meus Eventos</h3>
    <ul class="list-group mb-4">
        {% for event in events %}
        <li class="list-group-item">
            <a href="{% url 'events:event_detail' event.pk %}">{{ event.name }}</a> - {{ event.date }}
        </li>
        {% empty %}
        <li class="list-group-item">Nenhum evento cadastrado.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
